.section {
  padding: 50px 0;
}

.unstyle-list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}

.profile {
  blockquote { font-size: 1.15rem; font-style: italic; margin: 2.25rem 0; }
  .photo { width: 170px; height: 170px; float: right; margin: 6.25rem 0 1rem 2rem;  object-fit: cover; object-position: -50% 0; border-radius: 1rem; }
  .logo { margin: 1rem auto 2rem auto; max-width: 100%; }
  .logo-small { margin: 0 auto; max-width: 100%; margin: 1rem auto; }
  color: #000;
  h1 { font-size: 1.5rem; text-transform: uppercase; }
  max-width: 750px;
  padding: 1rem;
  li, p {
    text-align: justify;
  }
  margin: 0 auto;
  .contact { margin: 5rem 0 2rem 0; text-align: center; }
  a { color: $primary; font-weight: 500; }
}
