.about {
  .btn {
    margin-top: 1rem;
  }
  overflow: hidden;
  &_content {
    display: flex;
	margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &-thumb {
      position: relative;
      .about_content-thumb-image {
        img {
          width: 100%;
          -webkit-mask: url(/images/mask-b.svg);
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-position: center center;
          @include desktop {
            -webkit-mask: none;
            border-radius: 2rem;
          }
        }
      }
    }
    &-inner {
      width: 55%;
      padding: 60px 50px;
      background: $secondary;
      border-radius: 20px;
      margin-left: -100px;
      position: relative;
      .btn { width: 40%; }
      .cta { text-align: center; }
      @include desktop {
        padding: 25px;
        .btn { width: 100%; }
      }
      @include desktop {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
      &-blob {
        position: absolute;
        top: -55%;
        right: -22%;
        z-index: -1;
        width: 400.369px;
        height: 362.909px;
        svg {
          width: 140%;
        }
        @include tablet {
          display: none;
        }
      }
    }
  }
}
