<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ .Title }} | {{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{{- $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
	<link href="{{ $style.Permalink }}" rel="stylesheet" />
	<link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon">
	<link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
</head>
<body>
<div class="profile">
<a href="/"><img class="logo" src="/images/logo-m.png"></a>
<img class="photo" src="/images/LaurenWorkPhoto1.jpg">
{{ .Content }}
<div class="contact">
{{ .Title }}
&nbsp;&vert;&nbsp;
{{ .Site.Params.Address.phone }}
&nbsp;&vert;&nbsp;
<a href="mailto:{{ .Site.Params.address.email }}">{{ .Site.Params.Address.email }}</a>
<a href="/"><img class="logo-small" src="/images/logo.png"></a>
</div>
</div>
</body>
</html>
