{{ with .Site.Data.serviceSection }}
{{ if .enable }}
<section class="section service" id="service">
    <div class="container">
        <div class="service__header">
            {{ .title | markdownify }}
        </div>
            <div class="col-12">
                <div class="service__slider">
                    {{ $Section := .service }}
                    {{ range $Section }}
                    <div class="service__slider_item">
                        <div class="mt-3">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        <div>
            <a href="#contact" data-value="{{ .ctaMessage | htmlEscape }}" class="btn btn-primary scroll">{{ .cta | markdownify }}</a>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
